{% extends 'base.html' %}

{% block title %}
    Add Category
{% endblock %}

{%block content %}
    {% if user.is_authenticated %}
        <h1>
            Add Category
        </h1>
        <div class="mb-3">
            <form method='POST'>
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-secondary">
                    Add Category
                </button>
            </form>
        </div>
    {% else %}
        You're not allowed here(And you know it...)
    {% endif %}
{% endblock %}