{% extends 'base.html' %}

{% block title %}
Add Blog
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>
            Add Blog Post
        </h1>
        <br/>
        <br/>
        <div class="mb-3">
            <form method = 'POST'>
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-secondary">
                    Post
                </button>    
            </form>
        </div>

        <script>
            var name = "{{user.username}}";
            document.getElementById("user").value = name;
        </script>
    {% else %}
        You're not allowed here! (And you know it...)
    {% endif %}
{% endblock %}