{% extends 'base.html' %}

{% block title %}
    {{ post.title_tag }}
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <small>By : {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }}</small><br/>
    <hr>
    <br/>
    {{ post.body|safe }}

    <br/><br/>
    <a href = "{% url 'home' %}" class="btn btn-secondary">Back</a>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <a href = "{% url 'editpost' post.pk %}" class="btn btn-secondary">Edit</a>
        <a href = "{% url 'deletepost' post.pk %}" class="btn btn-secondary">Delete</a>
        {% endif %}
    {% endif %}
    <br/><br/>
    <hr>
    <br/>
    <form action="{% url 'like_post' post.pk %}" method='POST'>
        {% csrf_token %}
        <button type="submit", name="post_id", value="{{post.id}}", class="btn btn-primary btn-sm">Like</button> - {{total_likes}} Likes
    </form>
{% endblock %}