{% extends 'base.html' %}

{% block title %}
    Settings
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>
            User Settings
        </h1>
        <br/>
        {{user.profile.bio}}
        <br/><br/>
        <div class="form-group">
            <form method='POST'>
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-secondary">Save</button>
            </form>
        </div>
    {% else %}
        You are not allowed here
    {% endif %}
{% endblock %}