{% extends 'base.html' %}

    {% block title %}
        {% if category_posts %}
            {{cats}}
        {% else %}
            My Blog
        {% endif %}
    {% endblock %}

    {% block content %}
        {% if category_posts %}
            <h1>
                {{cats}}
            </h1>
            <ul>
            {% for post in category_posts %}
                <li><a href="{% url 'post-detail' post.pk %}">{{post.title}}</a> - {{post.author.first_name}} - {{post.author.last_name}} - {{post.email}} - {{post.post_date}}
                
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                    -<small>
                        <a href="{% url 'editpost' post.pk %}">Edit</a>
                        <a href="{% url 'deletepost' post.pk %}">Delete</a>
                    </small>
                    {% endif %}
                {% endif %}
                {{post.body|slice:":200"|safe}}</li>
            {% endfor %}
            </ul>
        {% else %}
            <h1>This page does not exist</h1>
        {% endif %}
    {% endblock %}